@font-face
  font-family: 'qtt'
  src:  url('common/fonts/qtt.eot?5a24ws')
  src:  url('common/fonts/qtt.eot?5a24ws#iefix') format('embedded-opentype'),
    url('common/fonts/qtt.ttf?5a24ws') format('truetype'),
    url('common/fonts/qtt.woff?5a24ws') format('woff'),
    url('common/fonts/qtt.svg?5a24ws#qtt') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'qtt' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-qtt01:before
  content: "\e900"
.icon-qtt02:before
  content: "\e901"
.icon-qtt03:before
  content: "\e902"
.icon-qtt04:before
  content: "\e903"
.icon-qtt05:before
  content: "\e904"
.icon-qtt06:before
  content: "\e905"
.icon-packUp:before
  content: "\e90a"
  color: #9bb1c0
.icon-spread:before
  content: "\e90b"
